.form_container{
    background-color: #fafafa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.inner_form_box{
    width: 400px;
    background-color: white;
    min-height: 40%;
    padding: 1rem 0;
}

.signup_login{
    width: 24rem;   
    margin-top: 1rem;
    padding: 1rem 0;
    background-color: white;
}

a{
    text-decoration: none;
}

form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

input{
    width: 80%;
    height: 1rem;
    padding: .5rem;
    margin: 1rem 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline-color: gray;
}

.btn{
    padding: .5rem;
    width: 84%; 
    border-radius: 5px;
    border: none;
    background-color: #0095f6;
    color: white;
    font-weight: 200;
    margin-left: auto;
    margin-top: 0.8rem;
    margin-right: auto;
}

.center{
    width: 100%;
    text-align: center;
}

.screen-center{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}