*{
  margin: 0%;
}

.app{
  background-color: #fafafa;
  display: flex;
  justify-content: center;
}

.app_header{
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0;
  z-index: 2;
}

.app_header_image{
  padding: 0.7rem .2rem .2rem 0.9rem;
  height: 2.4rem;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.app_signup{
  display: flex;
  flex-direction: column;
}

.app_posts{
  padding: 1rem;
}







